<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Styled Table</title>
    <style>
        body {
            padding: 20px;
        }
    </style>
</head>
<body>

<div class="container">
    <table class="table table-bordered" style="table-layout: fixed;">
        <colgroup>
            <col style="width: 66px">
            <col style="width: 96px">
            <col style="width: 90px">
            <col style="width: 104px">
            <col style="width: 92px">
        </colgroup>
        <thead>
        <tr>
            <th class="bg-secondary text-center" colspan="5">
                가족관계증명서<br>
                <span th:text="'(발급일 : '+ ${localDate} +', 증명서확인번호 : '+ ${confirmNumber}+')'"></span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="bg-light text-center" colspan="2">등록기준지<br>(본적)</td>
            <td class="text-center" colspan="3" th:text="${owner.registrationBaseAddress}"></td>
        </tr>
        <tr>
            <td class="bg-light text-center">구분</td>
            <td class="bg-light text-left">성명</td>
            <td class="bg-light text-left">출생연월일</td>
            <td class="bg-light text-left">주민등록번호</td>
            <td class="bg-light text-left">성별</td>
        </tr>
        <tr>
            <td class="text-center">본인</td>
            <td class="text-center" th:text="${owner.name}"></td>
            <td class="text-center" th:text="${owner.birthDate}"></td>
            <td class="text-center" th:text="${owner.residentRegistrationNumber}"></td>
            <td class="text-center" th:text="${owner.genderCode}"></td>
        </tr>
        <tr th:each="i : ${list}">
            <td class="text-center" th:text="${i.familyRelationshipCode}"></td>
            <td class="text-center" th:text="${i.name}"></td>
            <td class="text-center" th:text="${i.birthDate}"></td>
            <td class="text-center" th:text="${i.residentRegistrationNumber}"></td>
            <td class="text-center" th:text="${i.genderCode}"></td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
