<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>Styled Table</title>
  <style>
    body {
      padding: 20px;
    }
  </style>
</head>
<body>

<div class="container">
  <table class="table table-bordered" style="table-layout: fixed;">
    <colgroup>
      <col style="width: 66px">
      <col style="width: 96px">
      <col style="width: 90px">
      <col style="width: 104px">
      <col style="width: 92px">
    </colgroup>
    <thead>
    <tr>
      <th class="bg-secondary text-center" colspan="5">가족관계증명서<br>(발급일 : 2021-10-25, 증명서 확인번호 : 98765432-10987654)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="bg-light text-center" colspan="2">등록기준지<br>(본적)</td>
      <td colspan="3"></td>
    </tr>
    <tr>
      <td class="bg-light text-center">구분</td>
      <td class="bg-light text-left">성명</td>
      <td class="bg-light text-left">출생연월일</td>
      <td class="bg-light text-left">주민등록번호</td>
      <td class="bg-light text-left">성별</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
